@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.card__top {
  background-color: rgb(251, 226, 231);
}

.user__picture {
  min-width: 100px;
  min-height: auto;
}

.user__name {
  font-family: "Bebas Neue", cursive;
}

.card__top__right,
.card__top__left {
  transition: all 1s ease-out;
}

.user__card:hover .card__top {
  border-radius: 0;
}

.user__card:hover .card__top__right,
.user__card:hover .card__top__left {
  transform: translateY(35px);
}

.user__card:hover .card__bottom {
  visibility: visible;
  opacity: 1;
}
